@charset "utf-8";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

#myCanvas{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(7%);
}

section{
    width: 100%;
    position: relative;
}

#intro{
    height: 100vh;

    h1{
        position: absolute;
        height: 160px;
        overflow: hidden;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        span{
            display: block;
            font: bold 140px/160px 'Oswald', sans-serif;
            transition: 1s;
        }

        &.on{
            span{
                transform: translateY(-100%);
            }
        }

        &.on2{
            span{
                transform: translateY(-200%);
            }
        }
    }

    .intro_tit{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);

        .inner_tit{

            .tit_txt{
                overflow: hidden;

                span{
                    display: block;
                    font: 80px/1 'Oswald', sans-serif;
                    transform: translateY(100%);
                    transition: 0.5s;
                }

                &:nth-of-type(1){
                    span{
                        text-align: right;
                        transition-delay: 0.2s;
                    }
                }

                &:nth-of-type(2){
                    span{
                        transition-delay: 0.3s;
                    }
                }

                &:nth-of-type(3){
                    span{
                        text-align: right;
                        transition-delay: 0.4s;
                    }
                }

                &.on{
                    span{
                        transform: translateY(0);
                    }
                }
            }
        }

        >span{
            font: 12px/1 'Oswald', sans-serif;
            color: #111;
            position: absolute;
            top: 44px;
            opacity: 0;
        }
    }

    .menuMo{
        width: 40px;
        height: 20px;
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        z-index: 5;

        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #111;
            transition: background-color 1s 1s transform 0.5s;
        }

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #111;
            transition: background-color 1s 1s transform 0.5s;
        }

        &:hover{
            &::before{
                transform: translateX(-5px);
                transition: 0.5s;
            }
            &::after{
                transform: translateX(5px);
                transition: 0.5s;
            }
        }

        &.on{
            &::before{
                top: 50%;
                transform: rotate(45deg);
                margin-top: -2px;
                background-color: tan;
                transition: 0.5s;
            }

            &::after{
                bottom: 50%;
                transform: rotate(-45deg);
                margin-top: 2px;
                background-color: tan;
                transition: 0.5s;
            }
        }

    }
}

#self_info{
    padding: 180px 0;
    overflow: hidden;

    .inner_txt{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 200px;

        >div{
            width: 30%;
            height: 400px;
            padding: 0 20px;

            &.left_box{
                display: flex;
                align-items: center;

                p{
                    font: 24px/1.6 'Oswald', sans-serif;
                }
            }

            &.right_box{

                .left_box_pic{
                    height: 100%;
                    border: 1px solid red;
                }
            }
        }
    }

    .slide_box{
        width: 100%;
        margin-bottom: 200px;

        >div{

            p{
                font: bold 100px/1 'Oswald', sans-serif;
            }
            
            &.upper_content{
                width: 4606px;
                margin-bottom: 60px;

                p{
                    color: #111;
                    margin-left: -500px;
                }
            }

            &.lower_content{
                width: 5258px;

                p{
                    color: #999;
                }
            }

        }
    }

    .self_list{
        width: 100%;
        display: flex;
        justify-content: center;

        ul{
            width: 55%;

            li{
                width: 100%;
                border-top: 1px solid #111;
                transition: 0.5s;
                background: #fff;
                position: relative;
                overflow: hidden;

                a{
                    display: block;
                    width: 100%;
                    height: 140px;
                    font: bold 60px/120px 'Oswald', sans-serif;
                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #111;
                    padding-left: 20px;
                    transition: 0.5s;

                    span{
                        display: block;
                        font: bold 14px/1 'Oswald', sans-serif;
                        -webkit-text-stroke-width: 0px;
                        color: #111;
                        transform: translateY(-20px);
                        transition: 0.5s;
                    }
                }



                &:last-child{
                    border-bottom: 1px solid #111;
                }

                &::before{
                    content: '';
                    width: 40px;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    transition: 0.5s;
                }

                &:hover{
                    background: rgb(205, 195, 189);

                    &::before{
                        left: 20px;
                    }

                    a{
                        color: #fff;
                        -webkit-text-stroke-width: 0px;
                        transform: translateX(60px);

                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}


.menuMoCon{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgb(14,14,14);
    top: 0;
    left: -100%;
    transition: 1s;
    z-index: 1;
    padding: 80px;


    ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li{
            margin-bottom: 40px;

            a{
                display: inline-block;
                font: 120px/1 'Oswald', sans-serif;
                transition: 0.5s;
                color: transparent;
                -webkit-text-stroke-width: 0.7px;
                -webkit-text-stroke-color: tan;

                &:hover{
                    color: tan;
                    font-style: italic;
                }
            }
        }
    }

    &.on{
        left: 0;
    }
}

.mouse_cursor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid darkorange;
    position: fixed;
    top: 0;
    left: 0;
}

.self_list_frame{
    width: 550px;
    height: 280px;
    position: fixed;
    top: 0;
    right: 120px;
}